/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * html5 backwards compatibility
 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
.oldie audio, .oldie canvas, .oldie video {
    display: inline;
    zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html, body, #container {
  height: 100%;
}
body {
  color: #444;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "helvetica",sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.center-wrap {
  height: 100% !important;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.center-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.container {
  height: 100%;
}
.first {
  background-color: #eee;
}
.second {
  background-color: #ddd;
}
.third {
  background-color: #ccc;
}
.els li {
  height: 200px;
  width: 200px;
  display: inline-block;
  line-height: 200px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.left {
  background-color: red;
}
.right {
  background-color: blue;
}
.up {
  background-color: green;
}
.down {
  background-color: yellow;
}
.enlarge {
  background-color: black;
}
.shrink {
  background-color: brown;
}
